@font-face {
    font-family: "TTLakes-Regular";
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TTLakes-Medium";
    src: url("fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin: auto;
}

main {
    background-color: #F8F8F8;
}


html,
body {
    height: 100%;
    font-size: 15px;
}


.swiper {
    height: 100px;
}


/* .swiper-pagination {

    width: 56px;
    position: absolute;
    top: 6px;
} */


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -4px;
    left: 0;
    width: 97px;
    height: 12px;
}


.services__software {
    padding: 0;
    border-top: 2px solid #D9FFF5;
}

.title__services {
    color: #7E7E82;
    font-family: "TTLakes-Regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    padding: 15px 16px;
    text-transform: uppercase;
    margin: 0 auto;
}

.btn {
    display: none;
}


@media only screen and (max-width: 320px) {
    .services__blocks {
        display: none;
    }
}


@media (min-width: 320px) {
    .services__blocks {
        display: none;
    }
}



@media (min-width: 768px) {
    .swiper {
        display: none;
    }

    .services-slide {
        display: none;
    }

    .services-slide:nth-child(-n+6) {
        display: block;
    }

    .services__blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .services__software {
        max-width: 768px;
        padding: 16px 24px;
    }


    .title__services {
        width: 100%;
        color: #7E7E82;
        font-family: "TTLakes-Regular";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        padding: 15px 16px;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .service__img {
        width: 224px;
        height: 72px;
        cursor: pointer;
    }


    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 9px;
        border: none;
        background-color: #F8F8F8;
        padding-top: 24px;
        padding-bottom: 34px;
        color: #1B1C21;
        font-family: "TTLakes-Medium";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        cursor: pointer;
    }

    .btn__text {
        margin-left: 6px;
    }

    .btn__hidden {
        display: none;
    }

}



@media (min-width: 1000px) {
    .services__software {
        max-width: 100%;
        padding: 0 33px;
        padding-top: 16px;
    }

    .services__blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 100%;
    }

    .services__block {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        padding-top: 16px;
    }

    .services-hidden {
        display: block;
    }

    .btn__hidden {
        display: none;
    }

    .services-slide {
        display: none;
    }

    .services-slide:nth-child(-n+8) {
        display: block;
    }
}