@font-face {
    font-family: "TTLakes-Bold";
    src: url("fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TTLakes-Regular";
    src: url("fonts/TTLakes/TTLakes-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TTLakes-Light";
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TTLakes-Medium";
    src: url("fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


.conteiner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #F8F8F8;
}


body {
    overflow-x: hidden;
    background-color: #F8F8F8;
    margin: 0 auto;
}


.header__menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

.header__wrap {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.block__menu__span {
    display: none;
}


.burger__menu {
    width: 40px;
    height: 40px;
    background-color: #ed2f2f;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
}


.burger__span {
    width: 2px;
    height: 10px;
    background-color: #ffff;
    position: absolute;
    top: 38px;
    left: 36px;
    transform: rotate(90deg)
}

.burger__span::before {
    content: '';
    width: 2px;
    height: 18px;
    background-color: #ffff;
    position: absolute;
    top: -7px;
    left: -7px;
    transform: rotate(0deg);
}

.burger__span::after {
    content: '';
    width: 2px;
    height: 14px;
    background-color: #ffff;
    position: absolute;
    top: -3px;
    left: 6px;
    transform: rotate(0deg);
}


.main__block {
    width: 100%;
    background: #F8F8F8;
    overflow: hidden;
    border-right: 5px rgb(233, 225, 225);

}

.main__block__span {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    top: 112px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: rotate(180deg)
}

.title__block {
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 7px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
    background: #F8F8F8;
}


.block__menu__title {
    display: none;
}

.slide__menu {
    width: 512px;
    height: 40px;
    top: 176px;
    left: 16px;
    overflow-x: scroll;
}


.slide__menu__btn {
    position: relative;
    font-family: 'TTLakes-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #7E7E82;
    background: #F8F8F8;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 7px;
    border: none;
    background-color: #F8F8F8;
    cursor: pointer;
}


.slide__menu__btn:before {
    position: absolute;
    background-color: #41F6D7;
    border-radius: 1px;
    width: 4px;
    height: 40px;
    top: 112px;
    left: 4px;
}


.slide__menu__btn:not(.btn_first, .btn_second) {
    display: none;
}


.btn_first {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.btn_second {
    margin: 0;
    padding: 20px;
    text-align: left;
}


.block__information {
    display: flex;
    flex-direction: column;
}


.image__button {
    background: none;
    border: none;
}

.img__arrow {
    border: none;
    background-size: cover;
    background: none;
}


.chapter__first {
    font-family: 'TTLakes-Regular';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1B1C21;
}

.chapter__second {
    display: none;
}


.block__information__text {
    padding: 0 16px;
}


.button__text {
    font-family: 'TTLakes-Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}


.header__line {
    position: absolute;
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    top: 28px;
    left: 186px;
    border-radius: 1px;
}

.img__logo {
    margin-top: 20px;
}


@media (min-width: 768px) {

    .logo {
        margin-left: 6px;
    }

    .header__line {
        left: 71px;
    }

    .header__menu {
        display: flex;
        margin-left: 16em;
        gap: 20px;
    }

    .header__line_2 {
        left: 39.5em;
    }


    .title__block {
        width: 257px;
    }

    .slide__menu {
        display: inline-block;
        width: 784px;
    }


    .block__information {
        flex-direction: row;
    }

    .block__information__text {
        width: 326px;
        margin: 32px 25px 10px 9px;
    }

    .chapter__second {
        display: block;
        margin-top: 10px;
    }

    .chapter__second_end {
        display: none;
    }

    .slide__menu__btn.btn_third {
        display: inline-block;
    }

    .slide__menu__btn.btn_forth {
        display: inline-block;
    }

    .img__logo {
        width: 360px;
        height: 208px;
        object-fit: cover;
        margin-left: 5px;
        margin-top: 40px;
    }
}


@media (min-width: 1120px) {

    .header {
        display: none;
        min-width: 1120px;
        width: 100%;
        background-color: #F8F8F8;
        border: none;
    }

    .burger__menu,
    .logo,
    .line,
    .header__menu {
        display: none;
    }

    .main__block__span {
        border-radius: 40px;
    }

    .main__block {
        padding: 0 15px;
    }

    .title__block {
        margin-top: 40px;
    }

    .chapter__second_end {
        display: block;
    }

    .block__menu__title {
        display: flex;
        align-items: center;
        /* 
        position: relative;
        top: -12%;
        right: -66%;
        align-items: center; */
    }

    .block__menu__span {
        display: inline-block;
        width: 125px;
        height: 24px;
        top: 50px;
        left: 716px;
        font-family: 'TTLakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: right;
        color: #1B1C21;
        top: 60px;
        right: 50px;
    }

    .btn__block__menu {
        border: none;
        background: none;
        cursor: pointer;
    }

    .slide__menu {
        display: flex;
        justify-content: space-between;
        overflow: visible;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 24px;
    }


    .btn_first {
        border: none;
        background: #F8F8F8;
    }

    .btn_second {
        display: none;
    }

    .btn_fifth {
        border: 2px solid #B8FFEC;
        border-radius: 5px;
        background-color: #FFFFFF;
        margin: 0px;
    }

    .slide__menu__btn.btn_sixth {
        display: inline-block;
    }

    .slide__menu__btn.btn_seventh {
        display: inline-block;
    }


    .slide__menu button:nth-of-type(1) {
        order: 2;
    }

    .slide__menu button:nth-of-type(3) {
        order: 3;
    }

    .slide__menu button:nth-of-type(4) {
        order: 5;
    }

    .slide__menu button:nth-of-type(5) {
        order: 1;
        display: flex;
        /* padding: 15px; */
        align-items: center;
    }

    .slide__menu button:nth-of-type(6) {
        order: 4;
    }

    .slide__menu button:nth-of-type(7) {
        order: 6;
        left: -67em;
        top: 3em;
        background: none;
    }

    .block__information {
        gap: 36px;
        display: flex;
        justify-content: space-between;
    }


    .img__logo {
        width: 532px;
        height: 307px;
        object-fit: cover;
    }

    .main__block__span {
        display: none;
    }

    .block__menu__span {
        left: 4em;
        bottom: 9.5em;
    }

    .block__information__text {
        width: 490px;
    }

    .chapter__first {
        line-height: 20px;
        width: 490px;
        margin-top: 25px;
    }


    .img__arrow {
        left: 1.5em;
        bottom: 10em;
    }

    .image__button {
        border: none;
        background: none;
    }

    .wrap__menu__services {
        display: flex;
        justify-content: space-between;
    }

    .slide__menu__btn {
        margin-bottom: 0;
    }
}