:root {
    --background-color: #F8F8F8;
    --border-color: #D9FFF5;
    --white-color: #FFF;
    --red-color: #ed2f2f;
    --black-color: #1B1C21;
    --burger-open-color: #0E185033;
    --btn-color: #FF3E79;
    --hover-color: #7E7E82;
    --list-active-color: #c7f7f1;
}



@font-face {
    font-family: 'TTLakes-Bold';
    src: url("fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes-Light';
    src: url("fonts/TTLakes/TTLakes-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url("fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    margin: 0 auto;
    font-family: 'TTLakes', sans-serif;
    min-width: 320px;
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited,
a:link,
a:active {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header style */

.header,
.header_active {
    position: relative;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 15px 16px;
}


.header__menu_left {
    display: flex;
    gap: 27px;
}

.burger__btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
}

.burger__span {
    width: 2px;
    height: 10px;
    background-color: var(--white-color);
    position: absolute;
    top: 46%;
    left: 40%;
    transform: rotate(90deg);
}

.burger__span::before {
    content: '';
    width: 2px;
    height: 18px;
    background-color: var(--white-color);
    position: absolute;
    top: -7px;
    left: -7px;
    transform: rotate(0deg);
}

.burger__span::after {
    content: '';
    width: 2px;
    height: 14px;
    background-color: var(--white-color);
    position: absolute;
    top: -3px;
    left: 6px;
    transform: rotate(0deg);
}

.header__menu_right {
    align-items: center;
    display: flex;
}

.header__menu__list {
    display: flex;
    gap: 10px;
}

.profile,
.chat,
.phone {
    display: none;
}

.search__icon {
    cursor: pointer;
}

.icon:hover {
    opacity: .5;
}

/* the end  header */


/* стили для блока main */

/* бургер меню */

.burger__menu {
    left: -320px;
    position: fixed;
    top: 0;
    min-width: 320px;
    background-color: var(--white-color);
    z-index: 1;
    transition: left 0.3s ease;
}

.burger__menu.open {
    left: 0;
    box-shadow: 18px 14px 47px -1px var(--burger-open-color);
    z-index: 3;
    height: 100%;
    width: 100%;
}

.burger__menu__header {
    display: flex;
    padding: 24px;
    justify-content: space-between;
}

.burger__menu__header__block_left {
    display: flex;
    gap: 17px;
    align-items: center;
}

.burger__close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.burger__menu__sidebar__nav__menu {
    margin-bottom: 64px;
}

.burger__menu__sidebar__nav__menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 30px;
    padding-left: 24px;
    position: relative;
}

.burger__menu__list__item {
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    position: relative;
    letter-spacing: -0.2px;
    color: var(--black-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.burger__menu__list__item:hover {
    color: var(--hover-color);
}

.burger__menu__list__item_active::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 0;
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
    transition: all .2s ease;
}

.burger__menu__list__item_active:hover::before {
    background-color: #c7eff7;
}


.burger__menu__list__item:hover::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 0;
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--list-active-color);
}

.burger__menu__contact_section {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    gap: 16px;
}

.burger__menu__icon_block {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.mail__name {
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--black-color);
}

.namber {
    font-family: "TTLakes-Bold";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: var(--black-color);
}

.burger__menu__lang {
    display: flex;
    margin-left: 24px;
    margin-top: 40px;
}

.burger__menu__lang__btn {
    border: none;
    background: none;
    font-family: "TTLakes-Medium";
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--black-color);
    cursor: pointer;
    transition: all 0.3s;
}

.burger__menu__lang__btn:hover {
    color: #7E7E82;
}

.burger__menu__lang_active {
    color: #7E7E82;
}


.burger__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
    display: none;
}


/* the end бургер меню */


/* стили для секции conteiner */

.services__block {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.title {
    margin-left: 35px;
    margin-top: 24px;
    margin-bottom: 7px;
    font-family: 'TTLakes-Bold', "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    position: relative;
}

.title::before {
    content: "";
    width: 3px;
    height: 40px;
    background-color: rgb(65, 246, 215);
    position: absolute;
    top: 0;
    left: -34px;
    border-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: rotate(180deg);
}

.menu__services_top {
    display: none;
}

.slide__menu__nav {
    display: flex;
    overflow-x: scroll;
    justify-content: start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 15px;
}

.slide__menu__list {
    display: flex;
    min-width: 246px;
}

.slide__menu__nav__btn {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    background: #F8F8F8;
    padding: 8px 18px;
    transition: background .2s ease-in-out;
}

.slide__menu__nav__btn:hover,
.slide__menu__nav__btn:focus {
    background-color: #fff;
    outline: 2px solid #B8FFEC;
    outline-offset: -2px;
}


.services__block__information {
    display: flex;
    flex-direction: column;
}

.block__information__content {
    padding: 0 16px;
}

.text__screen_320 {
    font-family: 'TTLakes-Regular';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--black-color);
}

.text__screen_768 {
    display: none;
}

.services__button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 0;
}

.img__arrow {
    cursor: pointer;
}

.services__button__text {
    font-family: 'TTLakes-Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.block__information__image {
    display: flex;
}

.block__information__img {
    margin-top: 20px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}


.services__brands__wrapper {
    display: none;
}

.btn {
    display: none;
}

.services__title {
    color: #7E7E82;
    font-family: "TTLakes-Regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    padding: 15px 16px;
    text-transform: uppercase;
    background-color: #fbf8f8;
    border-top: 2px solid rgb(217, 255, 245);
}


/* SWIPER STYLE */

.swiper {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
    left: 43%;
    width: 97px;
    height: 14px;
    margin-bottom: 20px;
}


#swiper3 button {
    align-items: center;
    position: relative;
    left: 110px;
    bottom: 23px;
    display: flex;
    border-radius: 17px;
    width: 119px;
    height: 32px;
    color: #fff;
    border: none;
    background-color: #FF3E79;
}

.swiper-slide__card {
    text-align: end;
    background-color: var(--white-color);
    width: 260px;
}


.swiper-slide__card button {
    text-align: end;
    display: flex;
}

#swiper2 .swiper-slide {
    color: var(--black-color);
}

#swiper3 .swiper-slide {
    height: 200px;
}

.swiper-pagination {
    text-align: center;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
}

.swiper-slide img {
    object-fit: cover;
}

.swiper-slide__card__sum {
    margin-top: 20px;
}

.swiper-slide__card__time {
    margin-top: 20px;
}

.swiper-slide__wrap {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 200px;
    border: 1px solid #EAEAEA;
    background-color: var(--white-color);
    justify-content: flex-start;
}

/* SWIPER END */

.close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: -58px;
    z-index: 9999;
    color: #fff;
    cursor: pointer;
    border: none;
}

.services__technique__blocks {
    display: none;
}

.technique__block__title {
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    margin-bottom: 59px;
}



.card__title {
    color: #7E7E82;
    font-family: 'TTLakes-Medium';
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-top: 17px;
    margin-left: 10px;
}

.card__name {
    font-family: 'TTLakes-Regular';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-left: 10px;
}

.card__button {
    display: flex;
    padding-left: 11px;
    align-items: center;
}

.card__button_img {
    margin-left: 8px;
    margin-right: 7px;
}

.section__prices__wrapper__table {
    display: none;
}

.section__prices__info {
    max-width: 65%;
    font-family: "TTLakes-Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--black-color);
    padding-left: 32px;
}

.section__prices__button {
    font-family: "TTLakes-medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--black-color);
    max-width: 217px;
    padding-left: 32px;
    border: none;
    background-color: var(--background-color);
}

.section__prices__button__image {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 28px;
    right: 72px;
}

.section__prices__button__text:hover,
.section__prices__button__text:active {
    color: #472d2d;
    text-shadow: rgb(176, 120, 185) 9px 0 10px;
}


.section__footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
    padding: 32px 33px 21px 31px;
    border-top: 2px solid rgb(217, 255, 245);
}

.section__footer__text {
    font-family: "TTLakes-Medium";
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: #7E7E82;
}


/* МОДАЛКИ */


.modal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}


.modal__window__feedback {
    display: flex;
    transition: right 0.3s;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    animation: slideIn 0.3s forwards;
}

/* Анимации */

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.modal__window__feedback__content {
    border-left: 1px solid var(--border-color);
    padding: 15px 16px;
    box-shadow: -12px 0px 19px -9px #0E185033;
    height: 100%;
    width: 100%;
}


.modal__window__feedback__content__title {
    font-family: "TTLakes-Bold";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    padding-top: 70px;
    padding-bottom: 24px;
}

.modal__window__feedback__content__cell {
    width: 100%;
    height: 48px;
    border: 1px solid #EAEAEA;
    font-family: "TTLakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 12px 16px;
    color: #B5B6BC;
    border-radius: 8px;
}

.modal__window__feedback__content__text {
    font-family: "TTLakes-Medium";
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
}

.textarea {
    height: 118px;
}

.modal__window__feedback__content__text_red {
    color: #FF3E79;
    cursor: pointer;
}


.modal__window__feedback__content_button {
    width: 136px;
    height: 32px;
    position: relative;
    background-color: #FF3E79;
    font-family: "TTLakes-Bold";
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: var(--white-color);
    border: none;
    border-radius: 17px;
    margin-top: 23px;
    cursor: pointer;
}


.modal__window__img__wrap {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 16px;
    border-radius: 50%;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    cursor: pointer;
    border: none;
}


.modal__window__img {
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.modal__window__feedback__wrap_btn {
    display: flex;
    justify-content: end;
}

.modal__wrap__call {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}


/*  СТИЛИ НА 500 */

@media (min-width: 500px) {
    .profile,
    .chat,
    .phone {
        display: block;
    }

    .header__menu__list {
        gap: 24px;
    }

    .section__prices__button {
        max-width: 100%;
    }

    .section__prices__button__image {
        left: 13px;
        cursor: pointer;
    }
}


/*  СТИЛИ НА 768 */


@media (min-width: 768px) {
    .logo {
        margin-left: 6px;
    }

    .slide__menu__list {
        min-width: max-content;
    }

    .header__menu_right::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        position: absolute;
        top: 33px;
        right: 133px;
        background-color: var(--background-color);
    }


    .services__block__information {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 30px 32px;
    }

    .block__information__content {
        width: 312px;
        margin-top: 21px;
        padding: 0;
    }

    .text__screen_320 {
        margin-bottom: 10px;
    }

    .text__screen_768 {
        display: block;
        margin-top: 10px;
    }


    .block__information__img {
        min-width: 360px;
        object-fit: initial;
        height: 98%;
    }


    .img__logo {
        width: 360px;
        height: 208px;
        object-fit: cover;
        margin-left: 5px;
        margin-top: 30px;
    }

    .burger__btn::after {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        position: absolute;
        top: 3px;
        left: 55px;
        background-color: var(--background-color);
    }

    .burger__menu.open {
        left: 0;
        height: 100%;
        width: 320px;
    }

    .services__brands__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        padding-bottom: 21px;
    }

    .services__brands__slide {
        width: 28%;
        text-align: center;
        margin-left: 30px;
    }

    .service__img {
        padding-top: 16px;
        cursor: pointer;
    }

    .services__brands__btn {
        margin-left: 30px;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        border: none;
        background-color: var(--background-color);
        padding-left: 16px;
        padding-bottom: 34px;
        color: var(--black-color);
        font-family: "TTLakes-Medium";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        cursor: pointer;
    }


    .services__technique__blocks {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 24px;
        gap: 17px;
        justify-content: flex-start;
    }

    .technique__block {
        text-align: end;
        width: 28%;
        margin-left: 20px;
        min-height: 160px;
        margin-bottom: 20px;
        border-radius: 6px;
        padding: 16px;
        background-color: var(--white-color);
        border: 1px solid #EAEAEA;
    }

    .technique__block_hidden {
        display: none;
    }

    .technique__block__title {
        margin: 0;
    }


    .technique__block__img {
        margin-top: 60px;
    }

    .btn__img {
        padding-left: 7px;
        padding-right: 7px;
    }


    /* section prices */

    .section__prices__wrapper__table {
        padding: 24px;
        display: grid;
    }


    .table__row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        background-color: var(--white-color);
    }

    .header__table {
        background-color: var(--background-color);
    }


    .cell__services {
        padding: 14px;
        font-family: "TTLakes-Regular";
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        text-align: left;
    }


    .table__row__line {
        grid-column: 1 / -1;
        border: 1px solid #EAEAEA;

    }

    .section__prices__info {
        max-width: 57%;
    }

    .section__prices__button {
        display: flex;
        gap: 6px;
        align-items: baseline;
    }


    .section__prices__button__text {
        font-family: "TTLakes-Medium";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: var(--black-color);
        cursor: pointer;
    }

    .section__prices__button__image {
        top: 0;
        left: 0;
    }


    .table__row__button {
        border: none;
        background-color: var(--white-color);
        padding: 20px;
        display: flex;
        justify-content: end;
    }

    .hidden {
        display: none;
    }

    /* footer */

    .section__footer {
        justify-content: space-between;
        flex-direction: row;
    }


    .section__footer__text:nth-child(1) {
        width: 218px;
        height: 32px;
    }

    .section__footer__text:nth-child(3) {
        width: 213px;
        text-align: end;
    }

    .section__footer__text_span {
        display: flex;
        text-align: left;
    }

    .swiper {
        display: none;
    }


    .services__btn__img {
        transition: transform 0.3s;
        padding-right: 7px;
        padding-left: 7px;
    }

    /* Стили для модалки обратная связь */


    .modal {
        background-color: rgba(255, 255, 255, 0.95);
    }

    .modal__window__feedback {
        width: 515px;
        right: 2px;
        animation: slideIn 0.3s forwards;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .modal__window__img__wrap {
        left: 0;
    }


    .modal__window__feedback__content__title {
        padding-top: 40px;
        margin: 0;
    }

    .textarea {
        width: 100%;
    }

    .modal__window__feedback__content {
        padding: 0 16px;
        margin-left: 60px;
    }

    .modal__window__feedback__content__text {
        width: 376px;
    }

    /* модалка заказать звонок */


    .modal__wrap__call {
        background-color: rgba(255, 255, 255, 0.95);
    }

    .table__row__button__img {
        cursor: pointer;
    }

    .table__row__button__img:hover {
        color: #c7f7f1;
    }

    .modal__window__call {
        animation: modal 0.3s forwards;
    }

    @keyframes modal {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .modal__window__call {
        display: flex;
        flex-direction: row;
        transition: right 0.3s;
        overflow: auto;
        position: absolute;
        width: 515px;
        top: 0;
        right: 0;
        height: 100%;
        transform: translate(-50%, -50%);
        background-color: var(--white-color);
    }
}


/* СТИЛИ НА 900 */


@media (min-width: 900px) {
    .services__conteiner {
        position: relative;
        overflow: auto;
    }


    .wrap__menu__services {
        display: flex;
        justify-content: space-between;
    }

    .title {
        margin-top: 40px;
    }

    .slide__menu__nav {
        overflow-x: scroll;
        justify-content: start;
        gap: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .services__block__information {
        gap: 36px;
        display: flex;
        justify-content: space-between;
    }

    .block__information__content {
        width: 490px;
    }

    .text__screen_320 {
        line-height: 20px;
        width: 490px;
        margin-top: 25px;
    }

    .text__screen_768__end {
        display: block;
    }

    .img__logo {
        width: 532px;
        height: 307px;
        object-fit: cover;
    }
}


@media (min-width: 1120px) {
    .text__screen_768 {
        display: block !important;
    }


    .block__information__img {
        height: 98%;
        min-width: 532px;
    }

    .services__brands__slide {
        width: 22%;
        text-align: center;
    }

    .technique__block {
        width: 22%;
        margin-left: 16px;
    }

    .section__prices__info {
        width: 37%;
    }

}


/* СТИЛИ НА 1360 */

@media (min-width: 1360px) {
    .wrapper__store {
        display: flex;
        justify-content: space-between;
    }


    .burger__menu {
        display: block;
        min-width: 320px;
        background-color: var(--white-color);
        scrollbar-width: none;
        position: relative;
        left: 0;
    }


    .header {
        display: none;
        align-items: center;
        justify-content: space-between;
        max-width: 320px;
        padding: 23px 24px 47px 24px;
    }

    .burger__close-btn {
        display: none;
    }

    .menu__services_top {
        display: flex;
        margin-right: 22px;
    }

    .menu__services_top__btn {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-family: 'TTLakes-Medium', 'TTLakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: var(--black-color);
    }

    .menu__services_top__btn__img {
        margin-left: 8px;
    }

    .slide__menu__nav {
        flex-wrap: wrap;
    }

    .services__brands__wrapper {
        justify-content: flex-start;
        gap: 23px;
        margin-bottom: 24px;
        margin-left: 12px;
    }

    .services__brands__slide {
        width: 23%;
        margin-left: 0;
        text-align: center;
    }

    .services__technique__blocks {
        gap: 27px;
        margin-bottom: 24px;
        padding: 0 13px;
    }

    .technique__block {
        gap: 32px;
        width: 21%;
        margin-top: 15px;
    }

    .table__row__line {
        height: 1px;
        display: block;
        background: #EAEAEA;
        width: 100%;
    }


    .section__prices__info {
        width: 38%;
    }


    .section__footer__text:nth-child(1) {
        width: 218px;
        height: 32px;
    }



    /* Стили для модалки обратная связь */


    /* Анимации */
    .modal__window__feedback {
        animation: slideIn 0.3s forwards;
        right: -1px;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .modal__window__feedback__content {
        padding: 0 32px;
    }
}


@media only screen and (max-width: 767px) {
    .burger-btn {
        display: block;
    }
}